<!DOCTYPE html>
body {
	background-color:#F8F3F2;
}
h1 {
	font-family: garamond;
	text-align: center;
	font-size: 40px;
	margin-top: 15px; 
	font-weight: bold; /*Bold text*/
}
h2 {
	font-family: garamond;
	text-align: center;
	font-size: 32px;
	margin-top: -10px;
	font-style: italic;
}
h3{
	color: #FFD700;
	font-size: 20px;
}

ul.nav{
	margin: 0;
	padding: 0;
	background-color: #924ADC; /*Purple*/
	text-align: center; /*Centers the whole Nav bar*/
	font-family: garamond;
	font-size: 25px;

}

table, th, td {     /*Creates table, table heading style*/
  border-collapse: collapse;
  text-align: center;
  margin-left: 580px;
 
}
th, td {  /*Spacing and style in the header and table data*/
  padding: 5px;
  text-align: left;    
}

ul{
	margin: 0;
	padding: 0;
	background-color: #924ADC; /*Purple*/
	text-align: center; /*Centers the whole Nav bar*/
	font-family: garamond;
	font-size: 25px;

}
ul.list3{
	margin-left: 630px;
	margin-right: 400px;
	background-color: white;
	display:inline-block;
	font-family: garamond;
	font-size: 20px;

}
	
li{
	display: inline; /*Sorts the list horizontally*/
	border-right: 1px solid #F8F3F2; 
}

li a{
	display: block; /*Sets it to a block*/
	float: center;
	color: white;
	text-decoration: none; /*Gets rid of the underline*/
	display: inline; /*Sorts the list horizontally*/
	padding: 14px 16px; /*The space between the buttons*/
}
li a:hover { /*Makes the style for the list when the action is hover*/
	background-color: #FFD700; /*Changes the color to gold*/
}

hr{ /*Makes a rectangle*/
	width: 900px;
	height: 3px;
	background-color: #924ADC;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p{
	border-width: 3px;
	border-color: black;
	font-family: garamond;
	font-size: 20px;
	padding-left: 80px; /*Pads the side of the paragraph*/
	margin-left: 180px;
	margin-right: 180px;
}
footer{
	font-family: garamond;
	background-color: #924ADC;
	font-size: 15px;
	font-color: #FFD700;
	text-align: center;
}