body {
	background-color:  #e5e7e9 ;
}
h1 {
	font-family: Lucida Console;
	text-align: left;
	padding-left: 150px;
	font-size: 40px;
	font-weight: bold; /*Bold text*/
	color: #239b56; /*Green*/
}
h2 {
	font-family: Lucida Console;
	text-align: left;
	padding-left: 195px;
	font-size: 15px;
	font-weight: bold; /*Bold text*/
	color: #black; /*black*/
	margin-top: -20px;
}
h3 {
	font-family: Lucida Console;
	padding-left: 30px;
	font-size: 40px;
	font-weight: bold; /*Bold text*/
	color: #239b56; /*Green*/
}
h4 {
	font-family: Lucida Console;
	text-align: center;
	font-size: 40px;
	font-weight: bold; /*Bold text*/
	color: #239b56; /*Green*/
}
div.paragraph {
	width: 1500px;
	height: 100%;
	border: 1px solid black;
	margin-top: 40px;
	margin-left: 350px;
	padding-left: 50px;
	
}
column {
	height: 80%;
	width: 400px;
	position: fixed;
	z-index: 1;
	top: 150px;
	right: 150px;
	background-color: #111;
	overflow-x: hidden;
	background: rgba(100, 100, 100, 0.3);
}
ul{
	margin: 0;
	padding: 0;
	text-align: left; /*Centers the whole Nav bar*/
	font-family: verdana;
	font-size: 25px;

}

ul.list3{ /*Creates another style for a seperate list*/
	margin-left: 630px;
	margin-right: 400px;
	background-color: white;
	display: inline-block;
	font-family: verdana;
	font-size: 20px;

}

li{
	display: inline; /*Sorts the list horizontally*/
}
li a{
	display: block; /*Sets it to a block*/
	float: right;
	color: black;
	text-decoration: none; /*Gets rid of the underline*/
	display: inline; /*Sorts the list horizontally*/
	padding: 14px 16px; /*The space between the buttons*/
}

li a:hover { /*Makes the style for the list when the action is hover*/
	background-color: #39b56 ; /*Changes the color to grey*/
}

div.photo {
	margin-top: 25px;
	margin-left: 750px;
	height: 300px;
	width: 900px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
p{
	border-width: 3px;
	border-color: black;
	font-family: verdana;
	font-size: 20px;
	padding-left: 180px; /*Pads the side of the paragraph*/
	margin-left: 180px;
	margin-right: 180px;
}
footer{
	font-family: verdana;
	background-color: #5caaea;
	font-size: 15px;
	text-align: center;
}